            <div class="site-footer">
                <div class="container">
                    <p class="copyright">© Пища Жизни, 2017</p>
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-xs-12 hidden-xs hidden-sm">
                            <p class="title"><strong>Об Ассоциации</strong></p>
                            <ul>
                                <li><a href="history.html">История</a></li>
                                <li><a href="goals.html">Цели и задачи</a></li>
                                <li><a href="standards.html">Стандарты работы</a></li>
                                <li><a href="reports.html">Отчеты</a></li>
                                <li><a href="cities.html">Города-участники</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-2 col-xs-12 hidden-xs hidden-sm">
                            <p class="title"><strong>Полезное</strong></p>
                            <ul>
                                <li><a href="news.html">Новости</a></li>
                                <li><a href="gallery.html">Галерея</a></li>
                                <li><a href="contacts.html">Контакты</a></li>
                                <li><a href="volunteers.html">Как стать волонтером?</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 updates">
                            <p class="title"><strong>Будьте в курсе обновлений</strong></p>
                            <p>Оставьте свой e-mail и первым узнавайте обо всех новостях фонда. Или следите за новостями в социальных сетях</p>
                            <ul class="social">
                                <li><a href="#"><svg class="icon icon-fb"><use xlink:href="#icon-fb"></use></svg></a></li>
                                <li><a href="#"><svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 subscribe">
                            <form action="">
                                <div class="form-group">
                                    <select data-placeholder="Ваш город" class="select select-minimal">
                                        <option value=""></option>
                                        <option value="">Минск</option>
                                        <option value="">Москва</option>
                                        <option value="">Казань</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Ваш e-mail" class="form-minimal">
                                </div>
                                <button type="submit" class="btn btn-default">Подписаться на рассылку</button>
                            </form>
                        </div>
                    </div>
                    <p class="ibrush">Сайт сделан в <a href="http://ibrush.ru/" target="_blank">iBrush</a></p>
                </div>
            </div>

        @@if ( context.google_map === 'true') {<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIfMx0nIiIGL1ZR1xqQm1Br8DN665cfN8&callback" async defer></script>}
        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>
