            <div class="mobile-menu">
                <ul class="menu">
                    <li class="has-child">
                        <a href="#">Об Ассоциации</a>
                        <ul class="submenu">
                            <li><a href="history.html">История</a></li>
                            <li><a href="goals.html">Цели и задачи</a></li>
                            <li><a href="standards.html">Стандарты работы</a></li>
                            <li><a href="agreement.html">Соглашение</a></li>
                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="#">Города-участники</a>
                        <ul class="submenu">
                            <li><a href="history.html">История</a></li>
                            <li><a href="goals.html">Цели и задачи</a></li>
                            <li><a href="standards.html">Стандарты работы</a></li>
                            <li><a href="agreement.html">Соглашение</a></li>
                        </ul>
                    </li>
                    <li><a href="reports.html">Отчеты</a></li>
                    <li><a href="news_city.html">Новости</a></li>
                    <li><a href="gallery.html">Галерея</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <button type="button" class="btn btn-default help">Помочь сейчас</button>
                <ul class="social">
                    <li><a href="#"><svg class="icon icon-fb"><use xlink:href="#icon-fb"></use></svg></a></li>
                    <li><a href="#"><svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg></a></li>
                </ul>
            </div>
            <header class="site-header with-city">
                <div class="container">
                    <button class="icon-menu">
                        <div class="icon-bar-v">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <div class="icon-bar-h">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </button>
                    <a href="index.html" class="logo">
                        <span class="slogan">Ассоциация благотворительных фондов</span>
                        <span class="name">Пища Жизни</span>
                    </a>
                    <div class="city-choice">
                      <span class="title">Ваш город:</span>
                      <a href="#" class="city-current"><span>Санкт-Петербург</span></a>
                      <ul class="city-list">
                        <li><a href="#">Абакан</a></li>
                        <li><a href="#">Азов</a></li>
                        <li><a href="#">Александров</a></li>
                        <li><a href="#">Алексин</a></li>
                        <li><a href="#">Альметьевск</a></li>
                        <li><a href="#">Анапа</a></li>
                        <li><a href="#">Ангарск</a></li>
                        <li><a href="#">Балашиха</a></li>
                        <li><a href="#">Балашиха</a></li>
                        <li><a href="#">Барнаул</a></li>
                        <li><a href="#">Бишкек</a></li>
                        <li><a href="#">Воронеж</a></li>
                        <li><a href="#">Балашиха</a></li>
                        <li><a href="#">Барнаул</a></li>
                        <li><a href="#">Балашиха</a></li>
                        <li><a href="#">Барнаул</a></li>
                        <li><a href="#">Бишкек</a></li>
                        <li><a href="#">Воронеж</a></li>
                      </ul>
                    </div>
                    <ul class="main-menu">
                        <li@@if(context.item === 1){ class="active"}><a href="projects.html">Проекты</a></li>
                        <li@@if(context.item === 2){ class="active"}><a href="volunteers.html">Волонтерам</a></li>
                        <li@@if(context.item === 3){ class="active"}><a href="news_city.html">Новости</a></li>
                        <li@@if(context.item === 4){ class="active"}><a href="#">О фонде</a></li>
                        <li@@if(context.item === 5){ class="active"}><a href="contacts.html">Контакты</a></li>
                    </ul>
                    <button type="button" class="btn btn-default help">Помочь сейчас</button>
                </div>
            </header>
