            <div class="mobile-menu">
                <ul class="menu">
                    <li class="has-child">
                        <a href="association.html">Об Ассоциации</a>
                        <ul class="submenu">
                            <li><a href="history.html">История</a></li>
                            <li><a href="goals.html">Цели и задачи</a></li>
                            <li><a href="standards.html">Стандарты работы</a></li>
                            <li><a href="agreement.html">Соглашение</a></li>
                        </ul>
                    </li>
                    <li class="has-child">
                        <a href="#">Города-участники</a>
                        <ul class="submenu">
                            <li><a href="history.html">История</a></li>
                            <li><a href="goals.html">Цели и задачи</a></li>
                            <li><a href="standards.html">Стандарты работы</a></li>
                            <li><a href="agreement.html">Соглашение</a></li>
                        </ul>
                    </li>
                    <li><a href="reports.html">Отчеты</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="gallery.html">Галерея</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <button type="button" class="btn btn-default help">Помочь сейчас</button>
                <ul class="social">
                    <li><a href="#"><svg class="icon icon-fb"><use xlink:href="#icon-fb"></use></svg></a></li>
                    <li><a href="#"><svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg></a></li>
                </ul>
            </div>
            <header class="site-header">
                <div class="container">
                    <button class="icon-menu">
                        <div class="icon-bar-v">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <div class="icon-bar-h">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </button>
                    <a href="index.html" class="logo">
                        <span class="slogan">Ассоциация благотворительных фондов</span>
                        <span class="name">Пища Жизни</span>
                    </a>
                    <ul class="main-menu">
                        <li class="has-child @@if(context.item === 1){active}">
                            <a href="association.html">Об Ассоциации</a>
                            <ul class="submenu">
                                <li><a href="history.html">История</a></li>
                                <li><a href="goals.html">Цели и задачи</a></li>
                                <li><a href="standards.html">Стандарты работы</a></li>
                                <li><a href="agreement.html">Соглашение</a></li>
                            </ul>
                        </li>
                        <li class="has-child @@if(context.item === 2){active}">
                            <a href="#">Города-участники</a>
                            <ul class="submenu">
                                <li><a href="history.html">История</a></li>
                                <li><a href="goals.html">Цели и задачи</a></li>
                                <li><a href="standards.html">Стандарты работы</a></li>
                                <li><a href="agreement.html">Соглашение</a></li>
                            </ul>
                        </li>
                        <li@@if(context.item === 3){ class="active"}><a href="reports.html">Отчеты</a></li>
                        <li@@if(context.item === 4){ class="active"}><a href="news.html">Новости</a></li>
                        <li@@if(context.item === 5){ class="active"}><a href="gallery.html">Галерея</a></li>
                        <li@@if(context.item === 6){ class="active"}><a href="contacts.html">Контакты</a></li>
                    </ul>
                    <button type="button" class="btn btn-default help">Помочь сейчас</button>
                </div>
            </header>
