<div class="report-list">
	<a href="history.html" class="report-item">
		<svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
		<p class="title">История Ассоциации</p>
		<p class="description">Как все начиналось и к чему мы пришли: история Ассоциаци</p>
	</a>
	<a href="goals.html" class="report-item">
		<svg class="icon icon-form"><use xlink:href="#icon-form"></use></svg>
		<p class="title">Наши цели и задачи</p>
		<p class="description">Как все начиналось и к чему мы пришли: история Ассоциаци</p>
	</a>
	<a href="standards.html" class="report-item">
		<svg class="icon icon-medal"><use xlink:href="#icon-medal"></use></svg>
		<p class="title">Стандарты работы</p>
		<p class="description">Как все начиналось и к чему мы пришли: история Ассоциаци</p>
	</a>
</div>
