.breadcrumbs {
  margin-bottom: 30px;

  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #000;
    font-size: 13px;

    &:after {
      content: '-';
      display: inline-block;
      vertical-align: middle;
      color: #000;
      margin: 0 1px 0 4px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    a {
      font-size: 13px;
    }
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}