.tab {
	&-nav {
		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 5px;

			&.active {
				a {
					cursor: default;
					background: #EE622F;
					border: 2px solid #EE622F;
					color: #fff;

					&:hover,
			    &:focus,
			    &:active,
			    &:active:hover {
						background: #EE622F;
						border: 2px solid #EE622F;
						color: #fff;
			    }
				}
			}
			a {
				display: block;
				padding: 9px 25px;
				border-radius: 20px;
				line-height: 16px;
		    background: $btn-more-bg;
		    border: 2px solid $btn-more-border;
				text-decoration: none;
		    color: rgba(0,0,0,.5);

		    &:hover {
		      border: 2px solid $btn-more-bg-hover;
		      background: $btn-more-bg-hover;
		      color: #000;
		    }
		    &:focus,
		    &:active,
		    &:active:hover {
		      border: 2px solid $btn-more-bg-active;
		      color: #000;
		      background: $btn-more-bg-active;
		    }
			}
		}
		@media (max-width: $screen-xs) {
			li {
				display: block;

				&:not(:last-child) {
          margin-bottom: 15px;
        }
				a {
					padding: 13px 25px;
				}
			}
		}
	}
	&-pane {
		display: none;

		&.active {
			display: block;
		}
	}
}
