/* Fonts */
$font-family-base:             'Raleway', sans-serif;
$font-family-second:           'Open Sans', sans-serif;
$font-size:                    15px;

/* Animation */
$transition: all .3s ease;

/* Main */
$main-color:                   #d93820;
$second-color:                 #ff5907;

$text-color:                   #000;

$border-color-header:          #E8E8E8;
$border-color:                 #f1f1f1;
$border-minimal:               #bac3c6;

$bg-gray:                      #EFF5F7;

/* Links */
$link-color:                   #d93820;
$link-hover-color:             #ff5907;

$link-menu:                    #333333;
$link-menu-line:               #F25E26;
$link-submenu-color:           #f55e13;

/* Buttons */
$btn-default-bg:               #F8A432;
$btn-default-bg-hover:         #FD7822;
$btn-default-bg-active:        #E96F1F;

$btn-primary-bg:               #EF6330;
$btn-primary-bg-hover:         #FD3E1E;
$btn-primary-bg-active:        #E4391A;

$btn-more-bg:               	 transparent;
$btn-more-bg-hover:        		 #BFC6C8;
$btn-more-bg-active:       		 #A8ADAF;
$btn-more-border:        			 #BDC4C6;

/* z-index */
$z-site-header:                9;
$z-site-footer:                9;
$z-submenu:                    10;
$z-icon-menu:                  11;
$z-mobile-menu:                8;
$z-heading:										 6;
