/* Fonts */
$font-family-base:             'Open Sans', sans-serif;
$font-size:                    15px;

/* Animation */
$transition: all .3s ease;

/* Main */
$main-color:                   #d93820;
$second-color:                 #ff5907;

$text-color:                   #000;

/* Links */
$link-color:                   #d93820;
$link-hover-color:             #ff5907;